#background-color {
  background-color: black;
}
h1 {
  color: #E0C1B3;
  text-align: center;
}
.smaller-text {
  font-size: larger;
  color: white;
  text-align: center;
}
.intro-styles {
  color: #96939b;
  font-family: fantasy;
  text-align: center;
}
.text-styles {
  font-family: fantasy;
  text-align: center;
  color: #3d6a98;
}
#center {
  text-align: center;
  color: white;
}
#enlarge {
  font-size: xx-large;
}

.exit-styles {
  font-family:'Lucida Sans';
  color: #e1dde4;
}