#background-color {
  background-color: black;
}
h1 {
  color: #E0C1B3;
  text-align: center;
}
.smaller-text {
  font-size: larger;
  color: white;
  text-align: center;
}
.intro-styles {
  color: #96939b;
  font-family: fantasy;
  text-align: center;
}
.text-styles {
  font-family: fantasy;
  text-align: center;
  color: #3d6a98;
}
#center {
  text-align: center;
  color: white;
}
#enlarge {
  font-size: xx-large;
}

.exit-styles {
  font-family:'Lucida Sans';
  color: #e1dde4;
}

#output-result {
  font-family: fantasy;
  font-size: xx-large;
  color: limegreen;
  text-align: center;
}

#image {
  position: left;
  margin: auto;
}

#image2 {
  position: right;
  margin: auto;
}

#image3 {
  position: center;
  margin: auto;
  padding: 5%;
}